.*/
.ipynb_checkpoints
.vscode
directory/

lightning_logs/
checkpoints

instaloader/
lstm/
lstm/hashtag

assets/
variables/
*.pb
*.pt
*.png
*.zip

env/
venv/
*.dataloader
*.sqlite
**/*_data_loader*
**/*_model_*

*.exe
*.pyc
__pycache__/

.DS_Store

instance/
.pytest_cache/
.coverage
htmlcov/
local_test_file/

dist/
build/
*.egg-info/

*.key.json